- user = @notification.user
| Olá #{user.name},
br
br
|Obrigado por enviar sua ideia para o Sou do Esporte o/
br
br
|O Sou do Esporte tem foco em projetos esportivos com um objetivo específico. Por exemplo, a compra de um material, o financiamento de uma competição, de uma clínica de treinamento, etc. Além disso,  o resultado do projeto deve ser importante para a carreira do atleta. Valorizamos iniciativas que engajem pessoas e que façam a diferença no cenário do esporte brasileiro. 
br
br
|Por isso, seria legal você entender um pouquinho melhor como funciona o financiamento coletivo e o formato dos projetos na nossa plataforma. Por isso, dê uma olhada no nosso #{link_to 'Guia Completo', "#{Configuration[:base_url]}/guia_realizadores.pdf"} e em #{link_to 'outros projetos', explore_url} do site para repensar sua proposta.
br
br
|Assim que melhorarmos o seu projeto, você poderá reenviá-lo através #{link_to 'deste formulário', new_project_url}.
br
br
|Entendemos que o seu projeto não se enquadra, da maneira como está descrito, no nosso foco atual. Você pode entender um pouco mais detalhadamente sobre como pensamos, #{link_to 'entrando aqui', guidelines_url}.
br
br
|Se depois de ler o links você acreditar que o seu projeto está de acordo acordo com os nossos critérios de seleção você pode enviar um e-mail para #{mail_to Configuration[:email_projects]}, sob o título de Revisão, explicando seu ponto de vista em um breve parágrafo.
br
br
|Ou então, se preferir, talvez outras plataformas possam recebê-lo. Vale a pena conhecer esta lista de plataforma de financiamento coletivo, #{link_to 'clique aqui', 'https://docs.google.com/document/d/1neIcX_GIkIT_0CzLK3ewx3EAb20GEOHJaIM98W5Z2pk/edit'}.
br
br
|Obrigado por entrar em contato conosco e fique de olho em nossas novidades através do #{link_to 'Facebook', Configuration[:facebook_url]}, #{link_to 'Twitter', "twitter.com/#{Configuration[:twitter_username]}" } e #{link_to 'blog', Configuration[:blog_url]}. E claro, não deixe de conhecer os projetos que estão no ar: #{link_to 'EXPLORE', explore_url}
br
br
br
|Grande abraço e boa sorte,
br
br
|Equipe Sou do Esporte
